USE [master]
GO
/****** Object:  Database [Esercizio_Polizia_Municipale]    Script Date: 21/11/2025 17:25:44 ******/
CREATE DATABASE [Esercizio_Polizia_Municipale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Esercizio_Polizia_Municipale', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio_Polizia_Municipale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Esercizio_Polizia_Municipale_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Esercizio_Polizia_Municipale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Esercizio_Polizia_Municipale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Esercizio_Polizia_Municipale]
GO
/****** Object:  Table [dbo].[Anagrafica]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anagrafica](
	[IDAnagrafica] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [nvarchar](30) NOT NULL,
	[Nome] [nvarchar](30) NOT NULL,
	[Indirizzo] [nvarchar](150) NOT NULL,
	[Città] [nvarchar](50) NOT NULL,
	[CAP] [int] NOT NULL,
	[CodiceFiscale] [nvarchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDAnagrafica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoViolazione]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoViolazione](
	[IDViolazione] [int] IDENTITY(1,1) NOT NULL,
	[Descrizione] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDViolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verbale]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verbale](
	[IDVerbale] [int] IDENTITY(1,1) NOT NULL,
	[DataViolazione] [datetime] NOT NULL,
	[IndirizzoViolazione] [nvarchar](150) NOT NULL,
	[NominativoAgente] [nvarchar](70) NOT NULL,
	[DataTrascrizioneVerbale] [datetime] NOT NULL,
	[Importo] [decimal](10, 2) NOT NULL,
	[DecurtamentoPunti] [int] NOT NULL,
	[IDAnagrafica] [int] NOT NULL,
	[Contestazione] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVerbale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Verbale_Violazione]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Verbale_Violazione](
	[IDVerbale] [int] NOT NULL,
	[IDViolazione] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVerbale] ASC,
	[IDViolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Verbale]  WITH CHECK ADD FOREIGN KEY([IDAnagrafica])
REFERENCES [dbo].[Anagrafica] ([IDAnagrafica])
GO
ALTER TABLE [dbo].[Verbale_Violazione]  WITH CHECK ADD FOREIGN KEY([IDVerbale])
REFERENCES [dbo].[Verbale] ([IDVerbale])
GO
ALTER TABLE [dbo].[Verbale_Violazione]  WITH CHECK ADD FOREIGN KEY([IDViolazione])
REFERENCES [dbo].[TipoViolazione] ([IDViolazione])
GO
/****** Object:  StoredProcedure [dbo].[CountVerbaliPerAnagrafe]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CountVerbaliPerAnagrafe]
AS
BEGIN
SET NOCOUNT ON;
SELECT a.Nome, a.Cognome, COUNT (v.IDVerbale) AS VerbaliTrascritti FROM Verbale v
JOIN Anagrafica a ON a.IDAnagrafica = v.IDAnagrafica GROUP BY a.Nome, a.Cognome;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllAnagrafePerCitta]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAnagrafePerCitta]
@Citta NVARCHAR(50)
AS
BEGIN
SET NOCOUNT ON;
SELECT * FROM Anagrafica WHERE Città = @Citta;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAnagrafePerCitta]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAnagrafePerCitta]
@Citta NVARCHAR(50)
AS
BEGIN
SET NOCOUNT ON;
SELECT a.Cognome, a.Nome, v.DataViolazione, v.IndirizzoViolazione, v.Importo, v.DecurtamentoPunti
FROM Anagrafica a 
JOIN Verbale v ON v.IDAnagrafica = a.IDAnagrafica
WHERE a.Città = @Citta;
END;
GO
/****** Object:  StoredProcedure [dbo].[ImportiAnagrafica]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ImportiAnagrafica]
AS
BEGIN
SET NOCOUNT ON;
SELECT a.Cognome, a.Nome, SUM(v.Importo) AS TotaleImportiAnagrafico FROM Anagrafica a
JOIN Verbale v ON v.IDAnagrafica = a.IDAnagrafica
GROUP BY a.Cognome, a.Nome;
END;
GO
/****** Object:  StoredProcedure [dbo].[PuntiDecurtatiAnagrafe]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PuntiDecurtatiAnagrafe]
AS
BEGIN
SET NOCOUNT ON;
SELECT a.Nome, a.Cognome, SUM (v.DecurtamentoPunti) AS TotalePuntiDecurtati FROM Anagrafica a
JOIN Verbale v ON v.IDAnagrafica = a.IDAnagrafica
GROUP BY a.Nome, a.Cognome;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectVerbali]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectVerbali]
AS
BEGIN
SET NOCOUNT ON;

SELECT COUNT (*) AS VerbaliTrascritti FROM Verbale WHERE DataTrascrizioneVerbale IS NOT NULL
END;
GO
/****** Object:  StoredProcedure [dbo].[VerbalePerAnno]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerbalePerAnno]
@Anno INT
AS
BEGIN
SET NOCOUNT ON;
SELECT DataViolazione, Importo, DecurtamentoPunti
FROM Verbale WHERE YEAR (DataViolazione) = @Anno;
END;
GO
/****** Object:  StoredProcedure [dbo].[VerbalePerData]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerbalePerData]
@Anno INT, @MeseFrom INT, @MeseTo INT
AS
BEGIN
SET NOCOUNT ON;
SELECT a.Cognome, a.Nome, v.DataViolazione, v.IndirizzoViolazione, v.Importo, v.DecurtamentoPunti
FROM Anagrafica a 
JOIN Verbale v ON v.IDAnagrafica = a.IDAnagrafica
WHERE YEAR (v.DataViolazione) = @Anno AND MONTH (v.DataViolazione) BETWEEN @MeseFrom AND @MeseTo;
END;
GO
/****** Object:  StoredProcedure [dbo].[VerbaliContestati]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerbaliContestati]
AS
BEGIN
SET NOCOUNT ON;
SELECT COUNT (v.IDVerbale), v.NominativoAgente FROM Verbale v
WHERE v.Contestazione = 1
GROUP BY v.NominativoAgente;
END;
GO
/****** Object:  StoredProcedure [dbo].[VerbaliPerSanzioni]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerbaliPerSanzioni]
@Sanzione INT
AS
BEGIN
SET NOCOUNT ON;
SELECT a.Nome, a.Cognome, a.Indirizzo, v.DataViolazione, v.Importo, v.DecurtamentoPunti AS TotalePuntiDecurtati FROM Anagrafica a
JOIN Verbale v ON v.IDAnagrafica = a.IDAnagrafica WHERE v.Importo > @Sanzione;
END;
GO
/****** Object:  StoredProcedure [dbo].[VerbaliTrascrittiPerViolazione]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerbaliTrascrittiPerViolazione]
AS
BEGIN
SET NOCOUNT ON;
SELECT tp.Descrizione, COUNT (v.IDVerbale) AS VerbaliTrascritti FROM Verbale v
JOIN Verbale_Violazione vv ON vv.IDVerbale = v.IDVerbale 
JOIN TipoViolazione tp ON tp.IDViolazione = vv.IDViolazione
GROUP BY tp.Descrizione;
END;
GO
/****** Object:  StoredProcedure [dbo].[ViolazioniPerPunti]    Script Date: 21/11/2025 17:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ViolazioniPerPunti]
@Punti INT
AS
BEGIN
SET NOCOUNT ON;
SELECT a.Nome, a.Cognome, a.Indirizzo, v.DataViolazione, v.Importo, v.DecurtamentoPunti AS TotalePuntiDecurtati FROM Anagrafica a
JOIN Verbale v ON v.IDAnagrafica = a.IDAnagrafica WHERE v.DecurtamentoPunti >@Punti;
END;
GO
USE [master]
GO
